* { margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #e4e4e4;;
    display: flex;
    align-items: center ;
    justify-items: center;
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

.form-container {
    background-color: #f5f5f5;
    padding: 50px;
    width: 420px;
    text-align: center;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
}
h2 {
    font-size: 25px;
    color: #1e1e1e;
    text-transform: uppercase;
    margin-bottom: 35;
}
.input-container {
    position: relative;
} 

i {
    padding: 14px;
    border-radius: 50%;
    background: linear-gradient(
        90deg
        rgba(153,26,123,1) 0%,
        rgba(117,30,156,1) 50%
    )

}
